html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* body */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
}

body {
  margin: 0;
  background-color: var(--primary-bg-color);
  color: var(--title-text-color);
  font-style: normal;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding: 0px;
}
a {
  text-decoration-line: none;
}

ul,
p,
div,
h1,
h2,
h3 {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 0px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.no-padding {
  padding-top: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

img {
  display: block;
  box-sizing: border-box;
  height: auto;
}
/* header */
.page-header {
  margin-top: 0;
  margin-bottom: 0;
  background: var(--primary-bg-color);
}

.nav-header {
  display: flex;
  align-items: center;
}
/* nav */
.site-nav {
  display: flex;
  margin-left: 90px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.current {
  color: var(--accent-color);
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.test-link {
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.test-link:hover,
.test-link:focus {
  color: var(--accent-color);
}
/* logo nav */
.logo {
  margin-top: 0px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}

.text-logo {
  color: #000000;
}

/* main portfolio */
.projekt {
  display: flex;
  flex-wrap: wrap;
}

.projekt-list {
  height: 404 px;
  max-width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio .projekt .wrapper {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.projekt-list:nth-child(3n) {
  margin-right: 0;
}

.projekt-list:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projekt-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.text-projekt {
  font-size: 16px;
  line-height: 1.8;
  color: var(--primary-text-color);
}

/* main */
/* hero */
.hero {
  text-align: center;
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.34;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}

/* portfolio filter */

.filter-list {
  display: flex;
  align-items: center;
  margin-left: 297px;
}

.filter-item {
  margin-right: 30px;
}

.filter-list .filter-item:not(:last-child) {
  margin-right: 30px;
}
/* button */
.button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  display: inline-block;
  border: none;
  background-color: #f5f4fa;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 50px;
  cursor: pointer;
  font-family: inherit;
  line-height: 1.6em;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 16px;
  color: var(--title-text-color);
}
.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* studio */
.button-studio {
  cursor: pointer;
  font-family: inherit;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-text {
  width: 152px;
  height: 30px;
  left: 730px;
  top: 440px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: var(--primary-bg-color);
}

/* feature */

.feature {
  display: flex;
}
.feature-list {
  display: flex;
  flex-wrap: nowrap;
}

.feature-list .item {
  width: 270px;
  margin-right: 30px;
}

.item:last-child {
  margin-right: 0;
}

.feature-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.feature-text {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.8;
  color: var(--primary-text-color);
}
/* what we do */

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--title-text-color);
  color: var(--title-text-color);
  color: var(--title-text-color);
}

.work-list {
  display: flex;
}

.photo-work {
  margin-right: 30px;
  width: 370px;
  height: 294px;
}

.photo-work:last-child {
  margin-right: 0;
}

/* team */
.team {
  background-color: #f5f4fa;
}

.title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--title-text-color);
}

.team-list {
  display: flex;
}

.cards {
  padding-top: 30px;
}
.cards .title-name {
  padding-bottom: 10px;
}

.title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--title-text-color);
}

.job-title {
  margin-top: 0;
  padding-bottom: 0;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--primary-text-color);
}

.photo-team {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 30px;
  width: 270px;
  height: 368px;
  background: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.photo-team:last-child {
  margin-right: 0;
}

/* footer */
.footer {
  background-color: #2f303a;
  max-width: 1600px;
}
.footer .container {
  padding-top: 60px;
}
.logo-footer {
  color: var(--primary-bg-color);
}
.address {
  line-height: 1.8;
  color: var(--primary-bg-color);
}

.footer-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 20px;
}

.footer-item {
  padding-bottom: 10 px;
  font-style: normal;
}
.feature-list > .footer-item {
  flex-grow: 1;
}

.link {
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.6);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}
